html {
  background-color: #3a3a3a;
}

body {
  display: flex;
  justify-content: center;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carousel {
  width: fit-content;
  position: relative;
}

.forward,
.back {
  font-size: 5em;
  padding: 0 20px;
  margin: 0 20px;
  border-radius: 12px;
  background-color: rgba(34, 34, 34, 0.24);
  transition: 0.2s;
  user-select: none;
}

.forward:hover,
.back:hover {
  background-color: rgba(34, 34, 34, 0.53);
}

img {
  border-radius: 6px;
}

#arrows {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#dots {
  display: flex;
  gap: 10px;
  user-select: none;
}

.dot {
  color: #222222;
  margin: 0;
  font-weight: bolder;
  font-size: 3em;
}
#dots {
  padding: 0 20px;
  border-radius: 5px;
  background-color: rgba(48, 48, 48, 0.62);
}
