body {
  background-color: #323232;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-family: "Roboto", "sans-serif";
}

p {
  margin: auto 0;
  padding: 0;
}
#container {
}

#game-board {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.row {
  display: flex;
}

.cell {
  width: 180px;
  height: 180px;
  background-color: #8e8e8e;
  font-size: 8em;
  font-weight: 200;
  text-align: center;
}

#texts {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
}

#game-board > div:not(:first-child) > div {
  border-top: #505050 solid 2px;
}
#game-board > div > div:not(:first-child) {
  border-left: #505050 solid 2px;
}
