body {
  background-color: #323232;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#container {
  background-color: #595959;
  width: 540px;
  height: 540px;
}

#game-board {
  display: flex;
}

.cell {
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  background-color: #8e8e8e;
  font-size: 8em;
}

#game-board > div > div:not(:first-child) {
  border-top: #505050 solid 1px;
}
#game-board > div:not(:first-child) > div {
  border-left: #505050 solid 1px;
}
