<div>
    <h1>New message</h1>
    <form method="POST" action="/new">
        <label for="authorName"></label><br>
        <input
                type="text"
                id="authorName"
                name="authorName"
        >
        <label for="messageText"></label><br>
        <input
                type="text"
                id="messageText"
                name="messageText"
        >
        <input type="submit" value="submit">
    </form>
</div>
