<div>
    <h1>New message</h1>
    <form>
        <label for="aname"></label><br>
        <input
                type="text"
                id="aname"
                name="aname"
        >
        <label for="message"></label><br>
        <input
                type="text"
                id="message"
                name="message"
        >
    </form>
</div>
