<div>
    <h1>New message</h1>
    <form method="post" action="/new">
        <label for="aname"></label><br>
        <input
                type="text"
                id="aname"
                name="aname"
        >
        <label for="message"></label><br>
        <input
                type="text"
                id="message"
                name="message"
        >
        <input type="submit" value="submit">
    </form>
</div>
