<html>
<head>
    <title>Homepage</title>
</head>
<body>
<%- include('navbar', {links: links}) %>
<ul>
    <% messages.forEach((message) => { %>
        <h1><%= message.text %></h1>
        <p>Author: <%= message.user %></p>
        <p><%= message.added %></p>
        <button onclick="location.href='/message';">Open</button>
    <% }) %>
</ul>
</body>
</html>