html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #222222;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.card-container {
  background-color: #4c577c;
  border-radius: 3px;
  color: #dadada;
  border: #5c5c5c 1px solid;
  width: 200px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-component:not(:first-child) {
  border-bottom: #222222 solid 1px;
}
.card-title-container {
  border-bottom: #222222 solid 1px;
  display: flex;
}

.card-title {
  font-size: 2em;
}
.arrow-icon {
  height: 50px;
  color: red;
  fill: red;
  stroke: red;
}
