html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #222222;
  margin: 0;
}

p {
  padding: 2px;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
}

.card-container {
  background-color: #4c577c;
  border-radius: 3px;
  color: #dadada;
  border: #5c5c5c 1px solid;
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-component:not(:first-child) {
  border-bottom: #222222 solid 1px;
}

.card-item-container {
  min-height: 30px;
  border-bottom: #222222 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
}

.card-title {
  font-weight: 300;
  font-size: 2em;
}

.card-edit-icon {
  height: 30px;
}

#add-card-icon {
  height: 150px;
  margin: auto;
}

#card-add-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.checkpoint-container {
  display: flex;
  gap: 10px;
}

.arrow-icon {
  height: 50px;
}

[contenteditable] {
  outline: 0;
}
