:root {
  --tab-color: #9f9f9f;
  --tab-color-active: #cfcfcf;
  --tab-border-color: #656565;
  --tab-border-color-active: #0d47a1;
}
html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #222222;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 30px 0;
}

button {
  font-family: inherit;
  color: #9f9f9f;
  font-size: 1.8em;
  font-weight: 300;
  height: 40px;
  width: 120px;
  border: none;
  border-bottom: 2px var(--tab-border-color) solid;
  transition: 0.2s ease;
  background-color: inherit;
}

button.active {
  color: var(--tab-color-active);
  border-color: var(--tab-border-color-active);
}

button:hover {
  color: var(--tab-color-active);
  border-color: var(--tab-border-color-active);
}

#content {
  color: #8c8c8c;
  margin: 0 auto;
  max-width: 600px;
  font-weight: 300;
}

p {
  margin: 0;
}

.home-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.text {
  font-size: 1.2em;
  max-width: 400px;
  margin: 0 auto 20px;
}

.rest-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-bottom: 20px;
  border-radius: 5px;
}
