html {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  background-color: #494949;
  display: flex;
  justify-content: center;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

#container {
  width: 400px;
  background-color: #606060;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  gap: 20px;
}

#screen {
  display: flex;
  flex-direction: column;
  background-color: #979797;
  height: 4em;
  border-radius: 2px;
  justify-content: end;
  align-items: end;
  padding: 0 20px;
}
#screenTextContainer {
  display: flex;
  align-items: center;
}

#screenText {
  margin: 0;
  font-size: 50px;
}
#screenTextSymbol {
  margin: 0;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#control-btn {
  display: flex;
  justify-content: space-between;
  height: 75px;
}

#control-btn button {
  width: 50%;
  margin: 2px;
}

#number-pad {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

#numbers,
#symbols {
}

.number,
.symbol {
  height: 100px;
  margin: 2px;
}

#numbers {
  display: grid;
  grid-template-columns: auto auto auto;
}
.number {
}

#symbols {
  display: flex;
  flex-direction: column;
}

.symbol {
}
